*{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }

        body{
            display:flex;
            justify-content:center;
            align-items:center;
            height:100vh;
            background:linear-gradient(to right,#74ebd5,#9face6);
            font-family:Arial, sans-serif;
        }

        .card{
            background:white;
            width:320px;
            padding:20px;
            text-align:center;
            border-radius:15px;
            box-shadow:0 5px 15px rgba(0,0,0,0.3);
            position:relative;
            transition:0.3s;
        }

        .card:hover{
            transform:scale(1.05);
        }

       .badge{
            position:absolute;
            top:10px;
            right:10px;
            background:orange;
            color:white;
            padding:5px 10px;
            border-radius:20px;
            font-size:12px;
        }

        .profile-img{
            width:120px;
            height:120px;
            border-radius:50%;
            margin-bottom:15px;
        }

        h1{
            color:#333;
            margin-bottom:8px;
        }

        h3{
            color:gray;
            margin-bottom:15px;
        }

        p{
            margin-bottom:20px;
            color:#555;
        }

        .social-links a{
            text-decoration:none;
            margin:10px;
            color:blue;
            font-weight:bold;
        }

        .social-links a:hover{
            color:red;
        }

        button{
            margin-top:20px;
            padding:10px 20px;
            border:none;
            background:blue;
            color:white;
            border-radius:5px;
            cursor:pointer;
            transition:0.3s;
        }

        button:hover{
            background:green;
        }

        @media(max-width:500px){
            .card{
                width:90%;
            }
        }