body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card {
    width: 300px;
    border: 2px solid gray;
    background-color:white;
    text-align: center;
    box-shadow:0 0 10px gray;
    padding: 20px;
}
.card img {
    width: 120px;
    min-height: 120px;
    border-radius: 50%;
}
.card h2 {
    color: darkblue;
}
.card p {
    color: #555;
}
button {
    background-color: blue;
     color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover Effect */
button:hover {
    background-color: darkblue;
    transform: scale(1.2);
}
